<launch>
    <node pkg="smads_core" type="navigation_interface.py" name="navigation_interface" output="screen"/>
    <node pkg="smads_core" type="gps_translator_node" name="gps_translator_node" output="screen" />
    <node pkg="smads_core" type="message_translator" name="message_translator" output="screen" />

</launch>
